@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
/* top section  */
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.orange-color {
  color: #ffa500;
}

.half-width {
  width: 50%;
  padding-left: 3%;
}

.half-width img {
  width: 85%;
}

.link-button {
  background-image: linear-gradient(#ff926e, #ff7052);
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

/* 2nd section  */
.middle-banner {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
